# Environment files
.env
.env.*
*.env
!.env.example
.env.local
.env.development
.env.production
# Python
venv/
__pycache__/
*.pyc
.pytest_cache/

# FastAPI
alembic/versions/__pycache__/

# Node/Angular
node_modules/
dist/
.angular/
coverage/

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db